AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_STATIC_WEB_APPS_API_TOKEN=

DATABASE_CONNECTION_STRING=
AZURE_STORAGE_CONNECTION_STRING=
AzureWebJobsStorage=
EMAIL_QUEUE_NAME=silverback-email-notifications
REMINDER_OFFSET_HOURS=24

SILVERBACK_NOTIFICATION_RECIPIENTS=aidamorales2014@gmail.com,michaelcocom@yahoo.com
ACS_CONNECTION_STRING=
ACS_SENDER_ADDRESS=

DOCUSIGN_INTEGRATION_KEY=
DOCUSIGN_USER_ID=
DOCUSIGN_ACCOUNT_ID=
DOCUSIGN_PRIVATE_KEY_SECRET_NAME=

STRIPE_SECRET_KEY=
SQUARE_ACCESS_TOKEN=
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PLAID_CLIENT_ID=
PLAID_SECRET=
QUICKBOOKS_CLIENT_ID=
QUICKBOOKS_CLIENT_SECRET=

GA4_MEASUREMENT_ID=
APPLICATIONINSIGHTS_CONNECTION_STRING=
